body {
	text-align: center;
}
.wrapper{
	margin: 0 auto;
	width: 600px;
}

/* STRUCTURE */ 
h1{
	margin: 40px;
}
a{
	display: block;
	padding-bottom: 20px;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
select, input, button{
	padding: 5px;
	margin: 10px;
}
fieldset>div, select{
	padding: 5px;
	margin: 10px;
}
fieldset>div>input{
	float: right;
	width: 60%;
}
fieldset>div>label{
	float: left;
	width: 20%;
}

/* CLASSE */
.hide {
	display: none;
}
.red{
	background-color: red;
}
.JS-delete-contactlist{
	margin-bottom: 15px;
}